.faq {
	$self: &;
	margin-bottom: 80px;
	
	@include media('<=xs') {
		margin-bottom: 60px;
	}

	&__inner {

	}

	&__title {
		margin-bottom: 80px;
		
		@include media('<=xs') {
			margin-bottom: 40px;
		}
	}

	&__items {
		counter-reset: faq_ctr;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 40px 25px;
		
		@include media('<=xs') {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		padding-left: 100px;
		position: relative;
		
		@include media('<=md') {
			padding-left: 80px;
		}
		
		@include media('<=sm') {
			padding-left: 60px;
		}
		
		@include media('<=xxxs') {
			padding-left: 45px;
		}

		&::before {
			display: block;
			counter-increment: faq_ctr;
			content: counter(faq_ctr)".";
			color: $accent;
			font-family: "PB", sans-serif;
			font-size: 64px;
			position: absolute;
			left: 0;
			top: 0;
			
			@include media('<=md') {
				font-size: 55px;
			}
			
			@include media('<=sm') {
				font-size: 40px;
			}
			
			@include media('<=xxxs') {
				font-size: 28px;
			}
		}
	}

	&__i-title {
		font-family: "PSB", sans-serif;
		text-transform: uppercase;
		margin-bottom: 6px;
		font-size: 18px;
		color: $primary;
		
		@include media('<=xxxs') {
			margin-bottom: 10px;
			font-size: 16px;
		}
	}
	
	&__i-text {
		font-family: "MM", sans-serif;
		font-size: 14px;
		color: $primary;
		
		em {
			font-family: "MSB", sans-serif;
			font-style: italic;
		}
	}
}
