<footer class="footer">
	<div class="footer__top container">
		<div class="footer__side">
			<nav class="footer__navi">
				<a href="./">О нас</a>
				<a href="./">Для Гостей Тайланда</a>
				<a href="./">Для Бизнеса</a>
			</nav>
			<a class="footer__logo" href="./">
				<img src="./images/logo-bottom.svg" alt="">
			</a>
		</div>
		<div class="footer__contacts">
			<a class="footer__tel" href="tel:+6667889909000">+66 678 8990 9000</a>
			<a class="footer__map" href="./">Мы на карте</a>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="footer__b-inner container">
			<span>Copyright &copy;</span>
		</div>
	</div>
</footer>
<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script> 
</body> 
</html>