<footer class="footer">
	<div class="footer__top container">
		<div class="footer__side">
			<nav class="footer__navi">
				<a href="./">О нас</a>
				<a href="./">Для Гостей Тайланда</a>
				<a href="./">Для Бизнеса</a>
			</nav>
			<a class="footer__logo" href="./" alt="Logo">
				<img src="./images/logo-bottom.svg" loading="lazy" alt="Logo">
			</a>
		</div>
		<div class="footer__contacts">
			<a class="footer__tel" href="tel:+66902730920">+66 90 27 30 920</a>
			<a class="footer__map" href="https://maps.app.goo.gl/zBVPZJ49hVPE3U6P6?g_st=ic">Мы на карте</a>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="footer__b-inner container">
			<span>Copyright &copy;</span>
		</div>
	</div>
</footer>

@@include("_modals.html") 

<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script>
<script data-b24-form="inline/3/iyhyt6" data-skip-moving="true">
	// (function(w,d,u){var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);})(window,document,'https://cdn.bitrix24.com/b27307907/crm/form/loader_3.js');
</script>
</body> 
</html>