<div class="card-a @@if(this.cls){@@cls}">
	<div class="card-a__head">
		<h3 class="card-a__title">@@title</h3>
		<div class="card-a__h-side">
			@@if(!this.button) {
				<div class="card-a__time">от 7 рабочих дней</div>
				<div class="card-a__price">от 12000 TBH</div>
			}
			@@if(this.button) {
				<button class="card-a__button button button_outline-green" data-modal="request" data-info="@@title">Узнать Цену</button>
			}
		</div>
	</div>
	<div class="card-a__content">
		<div class="card-a__text">Это решение проблем, связанных не только с внешними и внутренними факторами бизнеса, это способ улучшить имидж, наладить внутреннюю коммуникацию в компании, найти новых партнеров и инвесторов в Таиланде, а также создать благоприятную обстановку для развития своего дела.</div>
		<div class="card-a__buttons">
			<a class="card-a__button button button_fill-yellow" href="./details.html">Узнать больше</a>
			<button class="card-a__button button button_outline-green button_icon-tgm" data-modal="request" data-info="@@title">Задать Вопрос</button>
		</div>
	</div>
</div>