.servise {
	$self: &;

	&__inner {

	}

	&__title {
		margin-bottom: 40px;
	}
	
	&__subtitle {
		margin-bottom: 40px;
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 26px;
		margin-bottom: 100px;
	}

	&__card {
		grid-column: 1 span;
	}

	&__accordion {

	}

	&__a-card {

	}

	&__slider {

	}

	&__slide {

	}

	&__form {
		box-sizing: border-box;
		background-color: $fade;
		margin-bottom: 100px;
		border-radius: 80px;
		padding: 70px 100px;
	}

	&__f-side {

	}

	&__f-icon {
		max-width: 110px;
		margin-bottom: 20px;

		img {
			display: block;
		}
	}

	&__f-title {
		font-family: "PEB", sans-serif;
		margin-bottom: 10px;
		color: $primary;
		font-size: 28px;
	}
	
	&__f-text {
		font-family: "PB", sans-serif;
		color: $primary;
		font-size: 14px;
	}

	&__f-form {

	}
}