.hero {
	$self: &;
	
	&__inner {
		padding-top: 80px;
		padding-bottom: 60px;
		background: url('#{$images-path}bubble.png') top 60px left 55px / 40px 44px no-repeat, url('#{$images-path}bubble.png') bottom 35% left 145px / 28px 32px no-repeat, url('#{$images-path}bubble.png') top 50px right 120px / 78px 87px no-repeat, url('#{$images-path}bubble.png') bottom 55% right 80px / 40px 45px no-repeat;
		position: relative;
		
		&::before {
			display: block;
			content: '';
			width: 237px;
			height: 203px;
			background: url('#{$images-path}hero-fish.png') center / contain no-repeat transparent;
			position: absolute;
			top: 45%;
			left: -70px;
		}
	}

	&__title {
		font-family: "PEB", sans-serif;
		color: $secondary;
		font-size: 40px;
		position: relative;
		display: inline-block;
		padding: 20px 35px 0 100px;
		margin-bottom: 20px;

		span {
			position: relative;
			z-index: 2;
		}
		
		button {
			@extend %reset-button;
			position: absolute;
			font-family: "PL", sans-serif;
			font-size: 10px;
			z-index: 1;
			right: 0;
			top: 0;
			width: 240px;
			display: flex;
			justify-content: space-between;
			
			&::after {
				display: block;
				content: '';
				width: 31px;
				height: 31px;
				border-radius: 50%;
				background: url('#{$images-path}icons-sprite.svg#icon-info-view-dark') center / 8px 16px no-repeat, linear-gradient(180deg, #FFDD82 0%, #FFC109 100%);
			}
		}
	}
	
	&__text {
		font-family: "PEB", sans-serif;
		color: $primary;
		font-size: 28px;
		padding-left: 200px;
	}
}