.card-b {
	$self: &;
	background-color: $fade;
	border-radius: 30px;
	display: flex;
	flex-flow: column nowrap;
	@keyframes cardFadeInUp {
		from { opacity: 0; transform: translateY(100px); }
		to { opacity: 1; transform: translateY(0)}
	}

	&[data-animation] {
		opacity: 0;

		&.showed {
			animation: cardFadeInUp 0.7s;
			animation-fill-mode: forwards;

			@for $i from 1 through 15 {
				&:nth-child(#{$i}) {
					animation-delay: #{$i * 0.3}s;
				}
			}
		}
	}

	&__image {
		display: block;
	}

	&__body {
		box-sizing: border-box;
		padding: 20px;
		flex-grow: 1;
		display: flex;
		flex-flow: column nowrap;
	}

	&__title {
		font-family: "PB", sans-serif;
		margin-bottom: 10px;
		font-size: 14px;
		color: $primary;
	}
	
	&__text {
		font-family: "MR", sans-serif;
		margin-bottom: 14px;
		font-size: 12px;
		color: $primary;
	}

	&__button {

	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: auto;

		&_buttons {
			padding-top: 18px;
			padding-bottom: 8px;
			justify-content: center;
		}
	}

	&__b-date {
		font-family: "PL", sans-serif;
		font-size: 10px;
		color: #9FA2B1;
	}

	&__b-price {
		font-family: "PB", sans-serif;
		background-color: #fff;
		border-radius: 10px;
		color: $secondary;
		line-height: 1.0;
		padding: 4px 6px;
		font-size: 15px;
	}
}